* {
    margin:0;
    padding:0;
}
body {
    padding:15px;
    color:#333;
    font-family: "微软雅黑";
}
h1,h4 {
    text-align: center;
}
h4 {
    font-weight: normal;
    line-height: 30px;
}
form {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}
.loading {
    text-align: center;
    line-height: 20px;
    margin-top: 30px;
    word-break: break-all;
}
.error {
    display: none;
}